// variables
$website-width:1250px;
$main-color:#aa9104;
$dark-color:rgb(23, 22, 26);
$light-color:#fdd18e;
$medium-color:rgb(153, 151, 151);
$bg-image:url('/img/OIP.jpg');

// set color
@function set-text-color($color){
    @if(lightness($color)>50){
        @return #000;
    }@else{
        @return #fff;
    }
}